*{
    padding: 0;
    margin: 0;
}

body{
    background: #69cdd4;
    color: #062F55;
    font-size: 1em;
    padding: 2em;
    margin: 2em;
}

h1{
    font-size: 4em;
    display: flex;
    justify-content: center;
    padding: 0.7em;
    margin: 0.7em;
    margin-top: -0.7em;
}

.btn-start-nav{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    flex-direction: column;
    
}

.gameover{
    background: #d46969;
    color: white;
}

.retry{
    display: flex;
    justify-content: center;
}

.btn-start{ 
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    margin: 2em;
    color: white;
    font-size: 2em;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2em;
    text-decoration: none;
}

.btn-start:hover{
    background: rgba(0, 0, 0, 0.8);
}

.btn-start:active{
    background: rgba(0, 0, 0, 1);
}

.color-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.color{
    margin: 2em;
    width: 10em;
    height: 10em;
    border-radius: 2em;
    background: black;
}

.bottom-border{
    width: 100%;
    height: 2em;
    padding: 1em 4em 1em 4em;
    margin-left: -4em;
    margin-top: 4em;
    margin-bottom: -4em;
    background: #062F55;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;

    p{
        color: white;
        font-size: 2em;
        margin-inline: 2em 2em;
    }
}

.color-one{
    background: #C82525;
}
.color-one:hover{
    opacity:1.2;
}
.color-two{
    background: #07A40B;
}
.color-two:hover{
    background: #0BC40F;
}
.color-tree{
    background: #0657E6;
}
.color-tree:hover{
    background: #0961FD;
}
.color-four{
    background: #F3CC19;
}
.color-four:hover{
    background: #FFD61B;
}


